.about-text h1{
    font-family:'Roboto Slab', sans-serif;
    margin-bottom: 0.7rem;
    font-size: 3rem;
}
.about-text h5{
    font-family: 'Lato', sans-serif;
    margin-bottom: 3rem;
    font-weight: bold;
}
.about-text p{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6em;
    font-size: 1.4rem;
    margin-bottom: 2.5rem;
}
.about-text a{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
}

.about-image{
    width: 40vw;
    max-width: 32rem;
}

#about-section{
    padding: 8rem 5rem;
}
.padding-end{
    padding-right: 10vw;
}

@media (max-width: 992px) {
    .about-image{
        width: 45vw;
        min-width: 280px;
    }
}
