.contact-us, .reference{
    width: 50%;
    max-width: 40rem;
    min-height: 40rem;
    // min-height: 45rem;
    // max-height: 57rem;

    background: rgb(43,48,51);
    background: -moz-linear-gradient(0deg, rgba(43,48,51,1) 0%, rgba(61,61,61,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(43,48,51,1) 0%, rgba(61,61,61,1) 100%);
    background: linear-gradient(0deg, rgba(43,48,51,1) 0%, rgba(61,61,61,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2b3033",endColorstr="#3d3d3d",GradientType=1);

    color: white;
}
.contact-us{
    position: relative;
    left: 3rem;
}
.reference{
    position: relative;
    top: 4vw;
    right: 3rem;
}
.overlay{
    filter:blur(2px);
    -o-filter:blur(2px);
    -ms-filter:blur(2px);
    -moz-filter:blur(2px);
    -webkit-filter:blur(2px)
}
.pointer{
    cursor: pointer;
}

.reference ul li {
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-size: clamp(.7rem, 2.5vw, 1.2rem)
}
.reference ul li i {
    margin-right: 1rem;
}
.reference ul {
    padding-left: 4vw;
    padding-right: 1rem;
}
.button-about{
    min-width: 10rem;
    margin-top: .5rem;
}
.first-option{
    font-style: italic;
    font-weight: 600;
}
.contact-section{
    margin-top: 10rem;
    margin-bottom: 10rem;
}
.custom-check:focus{
    box-shadow: none !important; 
    outline: none !important;
    border: none !important;
}
.btn-container{
    padding-bottom: 5rem;
    padding-top: 1rem;
}
.customer-section h5{
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (max-width: 992px){
    .contact-us, .reference{
        width: 95%;
        overflow: auto;
        overflow-x: hidden;
    }
    .contact-us{
        position: absolute;
        left: auto;
        bottom: 0;
    }
    .reference{
        position: absolute;
        top: 0;
        right: auto;
    }

    .contact-on-view{
        position: relative !important;
        top: 5rem !important;
        right: 0 !important;
        left: 0 !important;
    }
    .overlay {
        top: -4rem;
    }
}