$primary : rgb(3, 247, 3);

$spacer : 2vw;

// Stile Dei Bottoni 
.shadow-btn-sveglia{
    -webkit-box-shadow: 0px 3px 15px -2px rgba(189,53,189,0.71);
    -moz-box-shadow: 0px 3px 15px -2px rgba(189,53,189,0.71);
    box-shadow: 0px 3px 15px -2px rgba(189,53,189,0.71);
}
#bg-color-sveglia{
    background-color:rgb(212, 23, 212) !important;
}
.shadow-btn-luci{
    -webkit-box-shadow: 0px 3px 15px -2px rgba(189, 101, 53, 0.71);
    -moz-box-shadow: 0px 3px 15px -2px rgba(189, 101, 53, 0.71);
    box-shadow: 0px 3px 15px -2px rgba(189, 101, 53, 0.71);
}
#bg-color-luci{
    background-color: rgb(201, 100, 46) !important;
}
.shadow-btn-musica{
    -webkit-box-shadow: 0px 3px 15px -2px rgba(123, 53, 189, 0.71);
    -moz-box-shadow: 0px 3px 15px -2px rgba(123, 53, 189, 0.71);
    box-shadow: 0px 3px 15px -2px rgba(123, 53, 189, 0.71);
}
#bg-color-musica{
    background-color: rgb(117, 36, 193) !important;
}
.shadow-btn-wireless{
    -webkit-box-shadow: 0px 3px 15px -2px rgba(194, 53, 95, 0.71);
    -moz-box-shadow: 0px 3px 15px -2px rgba(194, 53, 95, 0.71);
    box-shadow: 0px 3px 15px -2px rgba(194, 53, 95, 0.71);
}
#bg-color-wireless{
    background-color: rgba(195, 40, 87) !important;
}
.shadow-btn-app{
    -webkit-box-shadow: 0px 3px 15px -2px rgba(53, 164, 189, 0.71);
    -moz-box-shadow: 0px 3px 15px -2px rgba(53, 164, 189, 0.71);
    box-shadow: 0px 3px 15px -2px rgba(53, 164, 189, 0.71);
}
#bg-color-app{
    background-color: rgb(42, 172, 202) !important;
}
.shadow-btn-risveglio{
    -webkit-box-shadow: 0px 3px 15px -2px rgba(173, 189, 53, 0.71);
    -moz-box-shadow: 0px 3px 15px -2px rgba(173, 189, 53, 0.71);
    box-shadow: 0px 3px 15px -2px rgba(173, 189, 53, 0.71);
}
#bg-color-risveglio{
    background-color: rgb(196, 205, 38) !important;
}
.shadow-btn-video{
    -webkit-box-shadow: 0px 3px 15px -2px rgba(53, 189, 60, 0.71);
    -moz-box-shadow: 0px 3px 15px -2px rgba(53, 189, 60, 0.71);
    box-shadow: 0px 3px 15px -2px rgba(53, 189, 60, 0.71);
}
#bg-color-video{
    background-color: rgb(41, 184, 48) !important;
}

.white{
    color: white !important;
}
.black{
    color: #262b2e ;
}
.btn {
    min-width: 200px;
    color: none;
}

.btn-px{
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}
.btn-bg-gray{
    background-color: #e0e6ec !important;
}


.bg-utility-custom {
    background-color: #262b2e !important;
}



// Stile Video e design
.min-width-video{
    min-width: 320px;
    min-height: 280px;
}

.mt-video{
    margin-top: 5vw !important;
} 
.ratio::before{
    display: inline !important;
}


.attacco-cavo{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 0 50% 50% 0;
    background: rgb(246,246,246);
    background: -moz-linear-gradient(207deg, rgba(246,246,246,1) 0%, rgba(173,173,173,1) 100%);
    background: -webkit-linear-gradient(207deg, rgba(246,246,246,1) 0%, rgba(173,173,173,1) 100%);
    background: linear-gradient(207deg, rgba(246,246,246,1) 0%, rgba(173,173,173,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f6f6f6",endColorstr="#adadad",GradientType=1);
}
.bg-attacco-sveglia{
    background: rgb(210,187,207);
    background: -moz-linear-gradient(207deg, rgba(210,187,207,1) 0%, rgba(213,60,213,1) 100%);
    background: -webkit-linear-gradient(207deg, rgba(210,187,207,1) 0%, rgba(213,60,213,1) 100%);
    background: linear-gradient(207deg, rgba(210,187,207,1) 0%, rgba(213,60,213,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d2bbcf",endColorstr="#d53cd5",GradientType=1);  
}

.left-group-cavo,.right-group-cavo{
    position: absolute;
    z-index:1;
    gap: 8vw;
    top: 18%;
}
.left-group-cavo{
    right: 99.9%;
}
.right-group-cavo{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    left: 99.9%;
}

.video-container{
    margin-right: auto;
    margin-left: auto;
}

.rotate-90{
    transform: rotate(270deg);
}
.attacco-b-pos{
    margin-top: -0.1rem;
}

.video-text-container{
    width: 50vw !important;
    height: 30vw !important;
}
.f1-custom{
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
}



@media (min-width: 992px) { 
    .btn {
        max-width: 350px;
    }

    .btn-gap-y{
        row-gap: 6vw;
    }

    .btn-group{
        align-items: center;
    }

    .btn-px{
        padding-left: inherit !important;
        padding-right: inherit !important;
    }
    .video-container{
        margin-right: 4.5vw !important;
        margin-left: 4.5vw !important;
    }

    .lg-mb{
        margin-bottom: 5rem;
    }
    .f1-custom{
        font-size: 2vw;
    }
    .cable-top-l{
        width: 10.5rem !important;
        height: 6rem !important;
        top: 6.8vw !important;
        left: 7.7vw !important;
    }
    .cable-top-r{
        width: 10.5rem !important;
        height: 6rem !important;
        top: 6.8vw !important;
        right: 7.7vw !important;
        transform: scaleX(-1);
    }
 }


 @media (min-width: 1200px) { 
    @media (min-width: 1200px) { 
        .video-container{
            margin-right: 8vw !important;
            margin-left: 8vw !important;
        }
        .cable-top-l{
            width: 14rem !important;
            height: auto !important;
            top: 6.3vw !important;
            left: 6.55vw !important;
        }
        .cable-top-r{
            width: 14rem !important;
            height: auto !important;
            top: 6.3vw !important;
            right: 6.55vw !important;
            transform: scaleX(-1); 
        }
     }
  }

@import '~bootstrap/scss/bootstrap.scss';


